<h2>Modal</h2>
<script type="text/javascript">
    $(function () {
        $('a').click(function (e) {
            $.modal({
                iframe: true,
                url: '@Url.Content("~/modal/iframe")',
                height: 300
            });
            e.preventDefault();
        });
    });
</script>
<a href="#">Abrir</a>
