<h2>Modal</h2>
<script type="text/javascript">
    $(function () {
        $('a').click(function (e) {
            $.modal({ url: '@Url.Content("~/modal/iframe")' });
            e.preventDefault();
        });
    });
</script>
<a href="#">Abrir</a>
