<h2>
    Grid</h2>
<script type="text/javascript">
    $(function () {
        $('#grid1').grid({
            form: $('form'),
            load: false
        });
    });
</script>
<form>
    <input type="submit" value="Teste"/>
</form>
<div id="grid1" data-url="@Url.Content("~/grid/data")">
    teste 123
</div>


